/**
 * Global styles that are applied to the entire application.
 */

 :root {
  font: var(--paragraph2);
  color: var(--foreground);
  --pagePaddingHoriz: max(0px);
  --discoPadding: 88px;
  --discoNavHeight: 56px;
  overflow-x: hidden;
  overflow-y: scroll;
  
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;

  .with-scroll-bars-hidden {
      overflow: hidden !important;
      padding-right: 0px !important;
     }
     body[data-scroll-locked] {
       overflow: hidden !important;
       overscroll-behavior: contain;
       position: relative !important;
       padding-left: 0px;
       padding-top: 0px;
       padding-right: 0px;
       margin-left:0;
       margin-top:0;
       margin-right: 0px !important;

       
     }
     
     .right-scroll-bar-position {
       right: 0px !important;
     }
     
     .width-before-scroll-bar {
       margin-right: 0px !important;
     }
     
     .right-scroll-bar-position .right-scroll-bar-position {
       right: 0 !important;
     }
     
     .width-before-scroll-bar .width-before-scroll-bar {
       margin-right: 0 !important;
     }
     
     body[data-scroll-locked] {
       --removed-body-scroll-bar-size: 0px;
     }
   

}

body {
  min-width: 320px;
  min-height: 100vh;
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;

};
// :focus-visible {
//     outline: none;
//     box-shadow:
//         0 0 0 1px #ffffff,
//         0 0 0 3px var(--focus-ring-color);
// }

// ::-webkit-scrollbar {
//     height: 12px;
//     width: 5px;
//     background: var(--background);
//   }

//   ::-webkit-scrollbar-thumb {
//     background: var(--grey);
//     border-radius: 1ex;
//     -webkit-border-radius: 1ex;
//   }

//   ::-webkit-scrollbar-corner {
//     background: var(--background);
//   }