/**
 * Global styles that are applied to the entire application.
 */

:root {
    font: var(--paragraph1);
    color: var(--text-color);
    --pagePaddingHoriz: max(16px);
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    min-width: 320px;
    min-height: 100vh;
    background: var(--page-background-color);
}

:focus-visible {
    outline: none;
    box-shadow:
        0 0 0 1px #ffffff,
        0 0 0 3px var(--focus-ring-color);
}

// ::-webkit-scrollbar {
//     height: 12px;
//     width: 5px;
//     background: var(--background);
//   }
  
//   ::-webkit-scrollbar-thumb {
//     background: var(--grey);
//     border-radius: 1ex;
//     -webkit-border-radius: 1ex;
//   }
  
//   ::-webkit-scrollbar-corner {
//     background: var(--background);
//   }