.root {
    margin: 0 calc(-1 * var(--discoPadding));
    // padding: var(--discoPadding);
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
    width: 100%;
    // margin-bottom: 100px;
    // margin-top: 25px;
}

.headerTitle {
    font: var(--heading3);
    font-size: calc(1.5vw + 2.5vh);
}

.headerDescription {
    width: 83%;
    font: var(--paragraph1);
    font-size: 20px;
    text-wrap: balance;
}

.products {
            @apply bg-foreground border-y-[4px] border-foreground;
    display: grid;
    grid-auto-columns: minmax(0, 640px);
    grid-auto-flow: column;
    gap: 4px;
    width: 100%;

}

@media (max-width: 1024px) {
    .headerDescription {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .root {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .header {
        display: block;
        font-size: 30px;
        margin-bottom: 40px;
    }

    .headerTitle {
        font-size: 30px;
        margin-bottom: 16px;
    }

    .headerDescription {
        font-size: 14px;
    }

    .products {
            @apply bg-foreground border-y-[4px] border-foreground;

        grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
        grid-auto-flow: row;
        gap: 4px 4px;


    }
}
