.drawer {
    max-width: 500px;
}

.menu {
    padding: 100px 0;
    font-size: 18px;
}

.closeButton {
    position: absolute;
    top: 72px;
    right: 24px;
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu {
        font: var(--paragraph1);
    }

    .drawer {
        max-width: none;
    }
}
